@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body {
  background: url(../images/guitar.gif) 100% 100% / 30vw no-repeat;
  min-height: 100vh;
}

.grama-container {
  margin-top: 10vh;
}

.options-container {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px 40px;
}

.options .node {
  position: relative;
  padding: 5px;
  background: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.options .node:hover {
  background-color: #c7dbff;
}

.options .node .note {
  position: initial;
}

.options .node .time {
  position: initial;
}

.options-text {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
