@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body {
  background: url(../images/guitar.gif) 100% 100% / 30vw no-repeat;
  min-height: 100vh;
}

.grama-container {
  touch-action: none;
  margin-top: 5vh;
}

.options-container {
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px 40px;
}

.options .node {
  position: relative;
  padding: 5px;
  background: #ededed;
  border-radius: 5px;
  cursor: pointer;
}

.options .node:hover {
  background-color: #c7dbff;
}

.options .node .note {
  position: initial;
}

.options .node .time {
  position: initial;
}

.options-text {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}


.main-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title p {
  font-size: 20px;
  font-weight: 100 bold;
}



h1 {
  font-weight: 500;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.start{
  width: 10%;
}

.help-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.help {
  position: absolute;
  top: 29%;
  left: 100%;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 0px #DDD;
}

.help:after {
  content: '';
  display: block;
  border: 1px solid red;
  position: absolute;
  top: 17px;
  left: -11px;
  border-width: 7px 10px 7px 0;
  border-color: transparent silver transparent transparent;
}

