@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');


html,
body,
p {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(247, 177, 49);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.left {
    color: white;
    font-weight: normal;
    font-size: 28px;
    text-align: left;
    width: auto;

}

.right {
    color: white;
    font-weight: normal;
    font-size: 28px;
    text-align: right;
    width: auto;
}

#main {
    margin: 30px;
}

.title {
    color: black;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    width: auto;
}

.game_list {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
   
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 33%;
    flex-shrink: 1;
    flex-grow: 0;
}

.game_title {
    width: 100%;
    color: black;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.game_img {
    max-width: 70%;
}

.card p {
    width: 100%;
    margin-top: 20px;
}

.button_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.card button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(247, 177, 49);
    color: white;
    font-size: 18px;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}





