@import "styles/dialog.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');


html,
body,
p {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(218, 255, 197, 0.5494572829131652) 0%, rgba(222, 179, 228, 0.40940126050420167) 100%);
}

#header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    background: linear-gradient(299deg, rgba(242, 191, 78, 0.7903536414565826) 65%, rgba(247, 177, 4, 0.958420868347339) 100%);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(66px);
}

.left {
    color: white;
    font-weight: normal;
    font-size: 28px;
    text-align: left;
    width: auto;
}

.right {
    color: white;
    font-weight: normal;
    font-size: 28px;
    text-align: right;
    width: auto;
}

#reset-score {
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: row;
    flex: 0 1 100%;
}

.principal-image {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img {
    max-width: 100%;
}

.game-list {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    box-sizing: border-box;
    padding: 25px;
}

.card {
    display: flex;
    flex: 0 1 0;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.466);
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
    width: 600px;
    box-shadow: 0 0 5px 1px #ffa50026;
    max-width: 100%;
}


.game-title {
    width: 100%;
    color: black;
    font-size: 21px;
    text-align: center;
    margin-top: 15px;
}

.game-img {
    max-width: 290px;
    border: 1px solid lightgrey;
}

.card p {
    width: 100%;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    height: 100%;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;
}

.card button {
    background-color: rgb(247, 177, 49);
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 30px;
}

dialog button.confirm {
    background-color: red;
}


@media screen and (max-width: 900px) {

    #header {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;
        background-color: #0001;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        backdrop-filter: blur(66px);
    }

    #main {
        display: flex;
        flex-direction: column;

    }

    .game-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .principal-image {
        flex-shrink: 1;
        max-height: 40%;
    }

}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
    }

    .game-title {
        margin-bottom: 15px;
    }
}