@import "buttons.css";

dialog {
    border: 1px solid lightgrey;
    padding: 25px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
    max-height: 90vh;
    max-width: 95vw;
    overflow-y: auto;
}

dialog p {
    font-size: 1rem;
    font-weight: normal;
}

dialog.success button {
    background-color: #51e28a;
}

dialog .close-icon {
    outline: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

dialog img {
    max-width: 100%;
}

dialog button.red {
    background-color: red;
}

dialog button.green {
    background-color: #51e28a;
}

dialog .buttons {
    gap: 10px;
    flex-direction: column;
}